* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: roboto-thin;
  src: url(./components/fonts/Roboto-Thin.ttf);
}
@font-face {
  font-family: sora-light;
  src: url(./components/fonts/Sora-Light.ttf);
}
@font-face {
  font-family: roboto-medium;
  src: url(./components/fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: raleway-extrabold;
  src: url(./components/fonts/Raleway-ExtraBold.ttf);
}
@font-face {
  font-family: raleway-thin;
  src: url(./components/fonts/Raleway-Thin.ttf);
}
@font-face {
  font-family: roboto-bold;
  src: url(./components/fonts/Roboto-Bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  scroll-behavior: smooth;
}
